<nav class="navbar" style="background-color: #209602ff;" data-bs-theme="dark">
<div class="container-fluid">
  <a class="navbar-brand" href=<%= root_path %> style="font-family: 'Lavishly Yours', cursive; font-size: 26px;">
    InnerMirror
  </a>

  <div class="nav-item">
    <%= link_to "New Entry", new_item_path, class: "nav-link" %>
  </div>
  <div class="nav-item">
    <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
  </div>
<div>
</nav>